/.metadada/
git_progII
Treino
Trabalho.Cartao.Fidelidade
crip_of_cesar
Av1ProgramacaoI
.rar
.docx
.ppt
/.metadata/
/Curso_Udemy-Java/Projeto__curso--vendas/build/
/Curso_Udemy-Java/Projeto__curso--vendas/dist/
/AV2ProgII/AvaliacaoAV2/nbproject/private/
/AV2ProgII/AvaliacaoAV2/build/
/AV2ProgII/AvaliacaoAV2/dist/